<div class="navbar">
  <div class="container">
    <!-- navbar here -->
  </div>
</div>
<div class="container">
  <%= yield %>
</div>
<footer>
  <div class="container">
     <a href="http://www.linkedin.com/pub/kendra-dodds/70/b47/413">created by kendra dodds</a>
  </div>
</footer>
